body {
    background-color:  rgba(92, 210, 246, 0.3);
  }
h1 {font-family:    monospace,Arial;
}
.jumbotron{
  padding: 100;
}
p {
  font-family:    monospace,Arial;
  color: navy;
  margin-left: 20px;
}

